<div class="container position-relative">
  <div class="header d-flex justify-content-between">
    <h1>Edit memory</h1>
  </div>

  <div class="row mb-4">
    <div class="col-md-8">
      <ocm-base-memory-form class="mb-4"></ocm-base-memory-form>
      <ocm-memory-edit-images *ngIf="store.isNewMemory | async | not"></ocm-memory-edit-images>
    </div>
    <div class="col-md-4" *ngIf="store.isNewMemory | async | not">
      <ocm-memory-edit-characters class="mb-4" *ngIf="store.isNewMemory | async | not"></ocm-memory-edit-characters>
    </div>
  </div>
</div>
