@import "src/web/styles/edit-buttons.mixin";
@import "src/web/styles/show-on-parent-hover.mixin";
@import "src/web/styles/drag-n-drop-active-overlay.mixin";

:host {
  display: block;
  @include edit-buttons('character');

  .thumbnail-wrapper {
    display: block;
    position: relative;
    cursor: pointer;
    border-radius: $border-radius;
    border: $card-border-width solid $card-border-color;
    overflow: hidden;


    .hover-active-overlay {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;

      background-color: fade-out($gray-700, .15);
    }

    .character-thumbnail-img {
      width: 100%;
    }

    @include drag-n-drop-active-overlay();
    @include show-on-parent-hover('.hover-active-overlay');
  }
}
