<div class="card shadow">
  <div class="card-header">
    <h1 class="card-title mb-0">{{characterTitle$ | async}}</h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-8">
        <ng-container [ngSwitch]="editActive$ | async">
          <ng-container *ngSwitchCase="false" [ngTemplateOutlet]="viewCharacterTpl"></ng-container>
          <ng-container *ngSwitchCase="true" [ngTemplateOutlet]="editCharacterFormTpl"></ng-container>
        </ng-container>
      </div>
      <div class="col-4">
        <ng-container *ngIf="store.isNewCharacter$ | async | not"
                      [ngTemplateOutlet]="characterThumbnailTpl"></ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #viewCharacterTpl>
  <div class="character-details-wrapper" *ngIf="store.character$ | async as char">
    <div class="character-edit-buttons d-flex flex-column">
      <button class="btn btn-primary btn-sm enable-edit-btn mb-1" (click)="editActive$.setTrue()">
        <span class="bi bi-pencil"></span>
      </button>
      <button class="btn btn-outline-danger btn-sm delete-character-btn" (click)="onDeleteCharacter()">
        <span class="bi bi-trash"></span>
      </button>
    </div>

    <div class="row">
      <ocm-read-only-field class="col-12" label="Nickname" [value]="char.nickname"></ocm-read-only-field>
      <ocm-read-only-field class="col-md-6" label="Date of birth"
                           [value]="char.dateOfBirth | date"></ocm-read-only-field>
      <ng-container *ngIf="char.dateOfBirth | yearsAgo:(settings.eventsDate$ | async) as age">
        <ocm-read-only-field *ngIf="age > -1;else notBornYetYpl" class="col-md-6" label="Age" suffix=" years old"
                             [value]="age"></ocm-read-only-field>
        <ng-template #notBornYetYpl>
          <ocm-read-only-field class="col-md-6" label="Age" prefix="Born in " suffix=" years"
                               [value]="age | absolute"></ocm-read-only-field>
        </ng-template>
      </ng-container>
      <ocm-read-only-field class="col-12" label="Notes" [value]="char.notes"></ocm-read-only-field>
    </div>
  </div>
</ng-template>

<ng-template #editCharacterFormTpl>
  <form [formGroup]="formGroup" (submit)="onSaveCharacter()"
        [class.needs-validation]="formGroup.pristine"
        [class.was-validated]="formGroup.dirty">

    <div class="mb-3">
      <label for="nicknameInput" class="form-label">Nickname</label>
      <input type="text" class="form-control" id="nicknameInput" aria-describedby="nicknameHelp"
             formControlName="nickname">
      <div id="nicknameHelp" class="form-text">What does this character like (or not like) to be called?</div>
    </div>
    <div class="mb-3">
      <label for="dateOfBirthInput" class="form-label">Date of birth</label><br/>
      <span class="text-muted"
            *ngIf="formGroup.value.dateOfBirth">Current: {{formGroup.value.dateOfBirth | date}}</span><br/>
      <ngb-datepicker id="dateOfBirthInput" formControlName="dateOfBirth"></ngb-datepicker>
    </div>
    <div class="mb-3">
      <label for="notesInput" class="form-label">Notes</label>
      <textarea class="form-control" id="notesInput" aria-describedby="notesHelp"
                formControlName="notes"></textarea>
      <div id="notesHelp" class="form-text">Dot down some traits, things that might be happening etc.</div>
    </div>
    <div class="d-flex justify-content-end">
      <button *ngIf="store.isNewCharacter$ | async | not" type="button" class="btn btn-outline-danger me-2"
              (click)="editActive$.setFalse()">Cancel
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid">Save</button>
    </div>
  </form>
</ng-template>

<ng-template #characterThumbnailTpl>
  <label class="thumbnail-wrapper"
         for="thumbnailFileField"
         ocmDragDropFile
         (filesDropped)="onSetThumbnail($event)">
    <img [src]="thumbnailUri$ | async" ocmImgSrcFallback="assets/no-image-placeholder.svg"
         class="character-thumbnail-img" alt="Character thumbnail">
    <div class="hover-active-overlay text-white d-flex flex-column justify-content-center text-center">
      Click to select a new file or drop a file from your file browser.
    </div>
    <div class="drop-active-overlay text-white d-flex flex-column justify-content-center text-center">
      Drop image file to upload as character thumbnail.
    </div>
  </label>
  <input type="file" class="d-none" id="thumbnailFileField" accept="image/jpeg,image/png,image/gif,image/tiff"
         (change)="onSetThumbnailViaFileInput($event)"/>
</ng-template>
