@import "../variables";

// Very experimental, but if it works it makes the app look a thad less cluttered.
.clamp- {
  @for $i from 1 through 5 {
    &#{$i} {
      display: -webkit-box;
      line-clamp: $i;
      -webkit-line-clamp: $i;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    &hover-open:hover {
      line-clamp: none;
      -webkit-line-clamp: none;
      -webkit-box-orient: inherit;
      overflow: inherit;
    }
  }
}
