<div class="card shadow">
  <div class="card-header  d-flex justify-content-between">
    <h5 class="card-title">Relationships ({{store.allRelationships$ | async | count}})</h5>
    <button class="btn btn-primary btn-sm add-relationship-btn" title="Add relationship" (click)="onAddRelationship()">
      <span class="bi bi-plus"></span>
    </button>
  </div>
  <div class="card-body">
    <ul class="list-unstyled">
      <li *ngFor="let rel of store.allRelationships$ | async" class="d-flex align-items-start mb-1 character-relationship-item">
        <ocm-relationship-card [relationship]="rel" flat class="flex-grow-1 me-1"></ocm-relationship-card>
        <button class="btn btn-sm btn-outline-danger remove-relationship-btn" (click)="onRemoveRelationship(rel)">
          <span class="bi bi-trash"></span>
        </button>
      </li>
      <li *ngIf="(store.allRelationships$ | async | empty)"></li>
    </ul>
  </div>
</div>
