:host {
  display: block;

  .add-trait-btn, .remove-trait-btn {
    opacity: 0;
    transition: .3s ease-in-out;
  }

  &:hover {
    .add-trait-btn {
      opacity: 1;
    }
  }

  .character-trait-item:hover {
    .remove-trait-btn {
      opacity: 1;
    }
  }
}
