@import "variables";
@import "show-on-parent-hover.mixin";

@mixin edit-buttons($basename, $offset-top: 0, $offset-right: 0) {
  .#{$basename}-details-wrapper {
    position: relative;
    height: 100%;

    .#{$basename}-edit-buttons {
      position: absolute;
      top: $offset-top;
      right: $offset-right;
      z-index: 500;

      background-color: $white;
      padding: .5rem;
      border: $card-border-width solid $card-border-color;
      border-radius: $card-border-radius;
    }

    @include show-on-parent-hover('.#{$basename}-edit-buttons');
  }
}
