@import "src/web/styles/variables";

:host {
  display: block;

  .character-details-wrapper {
    position: relative;

    .character-edit-buttons {
      position: absolute;
      top: 0;
      right: 0;

      opacity: 0;
      transition: opacity .3s ease-in-out;
    }

    &:hover {
      .character-edit-buttons {
        opacity: 1;
      }
    }
  }

  .thumbnail-wrapper {
    display: block;
    position: relative;
    cursor: pointer;
    border-radius: $border-radius;
    overflow: hidden;

    .drop-active-overlay, .hover-active-overlay {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;

      background-color: fade-out($gray-700, .15);

      opacity: 0;
      transition: opacity .3s ease-in-out;
    }

    .character-thumbnail-img {
      width: 100%;
    }

    &:hover {
      .hover-active-overlay {
        opacity: 1;
      }
    }

    &.drop-active {
      .drop-active-overlay {
        opacity: 1;
      }
    }
  }
}
