<div class="card shadow">
  <div class="card-header d-flex justify-content-between">
    <h4 class="card-title mb-0">Images</h4>
    <label class="btn btn-primary btn-sm upload-memory-image-btn" for="memoryImagesInput">
      <span class="bi bi-upload"></span>
    </label>
  </div>
  <div class="card-body memory-images-wrapper"
       ocmDragDropFile
       (filesDropped)="onSetThumbnail($event)">
    <div class="row">
      <div class="col-md-3 image" *ngFor="let img of store.images$ | async">
        <div class="card">
          <img [src]="img | thumbnailImgUrl" ocmImgSrcFallback="assets/no-image-placeholder.svg"
               class="memory-thumbnail-img card-img-top" alt="Memory image thumbnail">
          <div class="card-body">
            <h5>{{img.sourceName}}</h5>
            <span class="uploaded-on">{{img.uploadedOn | date}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-muted" *ngIf="store.images$ | async | empty">
        No images uploaded yet. Either there wasn't a photographer on the scene OR you haven't uploaded any using the
        add button in the top right of this block. Note, you can also drag and drop images from you system file browser.
      </div>
    </div>
    <div class="drop-active-overlay text-white d-flex flex-column justify-content-center text-center">
      Drop image file(s) to upload.
    </div>
  </div>
</div>
<input type="file" class="d-none" id="memoryImagesInput" [accept]="supportedFileTypes"
       (change)="onSetThumbnailViaFileInput($event)"/>
