<div class="card shadow">
  <div class="card-header d-flex justify-content-between">
    <h4 class="card-title mb-0">Images</h4>
    <label class="btn btn-primary btn-sm upload-memory-image-btn" for="memoryImagesInput">
      <span class="bi bi-upload"></span>
    </label>
  </div>
  <div class="card-body memory-images-wrapper"
       ocmDragDropFile
       (filesDropped)="onSetThumbnail($event)">
    <div class="drop-active-overlay text-white d-flex flex-column justify-content-center text-center">
      Drop image file(s) to upload.
    </div>
    <div class="row">
      <div class="col-md-3" *ngFor="let img of store.images$ | async">
        <div class="card memory-image-details-wrapper" (click)="onOpenImageLightbox(img)">
          <div class="memory-image-edit-buttons d-flex flex-column">
            <button class="btn btn-outline-danger btn-sm delete-memory-image-btn" (click)="onRemoveImage(img)">
              <span class="bi bi-trash"></span>
            </button>
          </div>
          <div class="card-img-top thumbnail-sq-outer-wrapper">
            <div class="thumbnail-sq-inner-wrapper">
              <img [src]="img | thumbnailImgUrl" ocmImgSrcFallback="assets/no-image-placeholder.svg"
                   class="thumbnail-sq-img" [alt]="img.sourceName">
            </div>
          </div>
          <div class="card-body">
            <h5>{{img.sourceName}}</h5>
            <span class="uploaded-on">{{img.uploadedOn | date}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-muted" *ngIf="store.images$ | async | empty">
        No images uploaded yet. Either there wasn't a photographer on the scene OR you haven't uploaded any using the
        add button in the top right of this block. Note, you can also drag and drop images from you system file browser.
      </div>
    </div>
  </div>
</div>
<input type="file" class="d-none" id="memoryImagesInput" [accept]="supportedFileTypes"
       (change)="onSetThumbnailViaFileInput($event)"/>
