@import "src/web/styles/variables";
$block-size: 18rem;

:host {
  display: block;

  .thumbnail-sq-outer-wrapper {
    width: 100%;
    position: relative;
    background-color: $gray-100;

    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    .thumbnail-sq-inner-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .character-thumbnail-sq-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &[ng-reflect-router-link] {
    cursor: pointer;
    transition: transform .3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}
