$block-size: 18rem;

:host {
  display: block;
  max-width: $block-size;

  .character-thumbnail-img {
    max-height: $block-size;
    object-fit: contain;
  }

  &[ng-reflect-router-link] {
    cursor: pointer;
    transition: transform .3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}
