<div class="card" [class.shadow]="!flat">
  <div class="card-img-top thumbnail-sq-outer-wrapper">
    <div class="thumbnail-sq-inner-wrapper">
      <img *ngIf="thumbnailUri$ | async as url"
           [src]="url" ocmImgSrcFallback="assets/no-image-placeholder.svg"
           class="character-thumbnail-sq-img" alt="Character thumbnail">
    </div>
  </div>
  <div class="card-body" *ngIf="!hideName">
    <h5 class="card-title mb-0 text-overflow-ellipsis">{{((character$ | async))?.name}}</h5>
  </div>
</div>
