@import "src/web/styles/variables";
@import "src/web/styles/square-img-wrapper.mixin";

:host {
  display: block;

  &:not([disabled]) {
    cursor: pointer;
    transition: transform .3s ease-in-out;

    &:hover {
      z-index: 500;
      transform: scale(1.05);
    }
  }

  @include square-img-wrapper();
}
