<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand py-0">
      <img src="../../../assets/favicon.ico" alt="" width="30" height="30">
      OC Manager
    </span>
    <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="collapsed$ | async"
            aria-label="Toggle navigation" (click)="onToggleCollapse()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.collapse]="collapsed$ | async" id="navbarContent">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/characters">Characters</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/events">Events</a>
        </li>
        <li class="nav-item" ngbDropdown routerLinkActive="active">
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">
            Settings
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
            <a ngbDropdownItem href="/settings/trait-management" (click)="$event.preventDefault()">Trait Manager</a>
            <a ngbDropdownItem href="/settings/events" (click)="$event.preventDefault()">Event Settings</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
