<div class="container position-relative">
  <div class="header d-flex justify-content-between">
    <h1>Characters</h1>
    <div class="pt-2">
      <button class="btn btn-primary shadow add-character-btn" title="Add character" routerLink="../edit/new">
        <span class="bi bi-plus"></span>
      </button>
    </div>
  </div>

  <div class="character-cards row">
    <div class="col-md-3 mb-4" *ngFor="let char of store.allCharacters$ | async as characters">
      <ocm-character-card
        class="mx-auto mx-md-0"
        [character]="char"
      ></ocm-character-card>
    </div>
  </div>
  <div class="character-cards text-muted" *ngIf="store.allCharacters$ | async | empty">
    No characters added yet. Use the add-button on the top right to add a character.
  </div>
</div>
