<div class="card shadow">
  <img *ngIf="thumbnailUri$ | async as url"
       [src]="url" ocmImgSrcFallback="assets/no-image-placeholder.svg"
       class="card-img-top character-thumbnail-img" alt="Character thumbnail">
  <div class="card-body" *ngIf="character$ | async as c">
    <h5 class="card-title mb-0">{{c.name}}</h5>
    <h5 class="small text-muted mb-0">{{c.nickname}}&nbsp;</h5>
  </div>
</div>

<button class="btn btn-primary edit-character-btn" *ngIf="!!editLink" [routerLink]="editLink">
  <span class="bi bi-pencil"></span>
</button>
