<div class="card card-sm" *ngIf="trait">
  <div class="card-body" *ngIf="asBodyType(trait) as t">
    <div class="d-flex">
      <ng-container [ngSwitch]="trait.traitType">
        <span *ngSwitchCase="'OcBodyType'" class="bi bi-person-circle me-2"></span>
        <span *ngSwitchCase="'OcEthnicity'" class="bi bi-sun me-2"></span>
        <span *ngSwitchCase="'OcEyeColor'" class="bi bi-eye me-2"></span>
        <span *ngSwitchCase="'OcGender'" class="bi bi-gender-ambiguous me-2"></span>
        <span *ngSwitchCase="'OcSexuality'" class="bi bi-hearts me-2"></span>
        <span *ngSwitchCase="'OcHairStyle'" class="bi bi-palette me-2"></span>
        <span *ngSwitchCase="'OcCustomTrait'" class="bi bi-emoji-laughing me-2"></span>
      </ng-container>
      <span>{{t | traitLabel}}</span>
    </div>
  </div>
</div>
