@import "src/web/styles/variables";

:host {
  display: block;

  &[flat] {
    .card {
      border: none;
      background-color: transparent;
    }
  }

  &:not([disabled]) {
    cursor: pointer;

    .trait-label:hover {
      color: $link-hover-color;
      transition: color .3s ease-in-out;
    }
  }
}
