<div class="modal-header">
  <h4 class="modal-title">Trait selection</h4>
  <button type="button" class="btn-close" aria-label="Close" modalDismiss></button>
</div>
<ul ngbNav #nav="ngbNav" class="nav-tabs mt-2">
  <li ngbNavItem="">
    <a ngbNavLink>All</a>
    <ng-template ngbNavContent>
      <ng-container [ngTemplateOutlet]="traitListTpl"
                    [ngTemplateOutletContext]="{$implicit: store.allTraits$ | async}"></ng-container>
    </ng-template>
  </li>
  <li ngbNavItem="">
    <a ngbNavLink>Body types</a>
    <ng-template ngbNavContent>
      <ng-container [ngTemplateOutlet]="traitListTpl"
                    [ngTemplateOutletContext]="{$implicit: store.bodyTypes$ | async}"></ng-container>
    </ng-template>
  </li>
  <li ngbNavItem="">
    <a ngbNavLink>Ethnicities</a>
    <ng-template ngbNavContent>
      <ng-container [ngTemplateOutlet]="traitListTpl"
                    [ngTemplateOutletContext]="{$implicit: store.ethnicities$ | async}"></ng-container>
    </ng-template>
  </li>
  <li ngbNavItem="">
    <a ngbNavLink>Eye colors</a>
    <ng-template ngbNavContent>
      <ng-container [ngTemplateOutlet]="traitListTpl"
                    [ngTemplateOutletContext]="{$implicit: store.eyeColors$ | async}"></ng-container>
    </ng-template>
  </li>
  <li ngbNavItem="">
    <a ngbNavLink>Genders</a>
    <ng-template ngbNavContent>
      <ng-container [ngTemplateOutlet]="traitListTpl"
                    [ngTemplateOutletContext]="{$implicit: store.genders$ | async}"></ng-container>
    </ng-template>
  </li>
  <li ngbNavItem="">
    <a ngbNavLink>Sexualities</a>
    <ng-template ngbNavContent>
      <ng-container [ngTemplateOutlet]="traitListTpl"
                    [ngTemplateOutletContext]="{$implicit: store.sexualities$ | async}"></ng-container>
    </ng-template>
  </li>
  <li ngbNavItem="">
    <a ngbNavLink>Hair styles</a>
    <ng-template ngbNavContent>
      <ng-container [ngTemplateOutlet]="traitListTpl"
                    [ngTemplateOutletContext]="{$implicit: store.hairStyles$ | async}"></ng-container>
    </ng-template>
  </li>
  <li ngbNavItem="">
    <a ngbNavLink>Custom</a>
    <ng-template ngbNavContent>
      <ng-container [ngTemplateOutlet]="traitListTpl"
                    [ngTemplateOutletContext]="{$implicit: store.customTraits$ | async}"></ng-container>
    </ng-template>
  </li>
</ul>
<div class="modal-body" [ngbNavOutlet]="nav"></div>

<ng-template #traitListTpl let-traits>
  <ul class="list-unstyled">
    <li *ngFor="let trait of traits"
        class="character-trait-item"
        [modalResolve]="trait">
      <ocm-trait-card [trait]="trait" flat disabled></ocm-trait-card>
    </li>
  </ul>
</ng-template>
